body {
  font-family: Arial, sans-serif;
  padding: 20px;
  line-height: 1.6;
}

img {
  border-radius: 10px;
  transition: 0.3s;
}

.buttons {
  margin-top: 20px;
}

button {
  margin-right: 10px;
  padding: 8px 15px;
  cursor: pointer;
}

.container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.gallery {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s;
  background: #fff;
}

.card > h3 {
  color: black;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.card img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.price {
  margin-top: 10px;
  font-size: 17px;
  font-weight: bold;
  color: darkgreen;
}
