* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  color: #fff;
  text-align: center;
}

p {
  text-align: center;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.first-container {
  height: 300px;
  width: 100%;
  display: flex;
}

.second-container {
  width: 100%;
  display: flex;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 500px;
  background-color: #229ec6;
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 500px;
  background-color: #ade4f6;

  padding: 80px 0;
}

.footer {
  width: 100%;
}

.main-container {
  margin-top: 100px;
}

.one-container {
  overflow: hidden;
}

.left {
  float: left;
  width: 50%;
}

.right {
  float: left;
  width: 50%;
  background-color: #229ec6;
  padding-top: 244px;
  padding-bottom: 244px;
}

.two-container {
  overflow: hidden;
}

.text {
  width: 100%;
  background-color: #ade4f6;
  text-align: center;
  padding: 80px 0;
}

.wrapper {
  width: 100%;
}

.header-image {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.header-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  width: 100%;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.text-block {
  float: left;
  width: 50%;
  height: 500px;
  background-color: #ade4f6;
  display: table;
}

.text-block p {
  display: table-cell;
  vertical-align: middle;
  font-size: 24px;
  padding: 0 20px;
}

.title-block {
  float: left;
  width: 50%;
  height: 500px;
  background-color: #229ec6;
  display: table;
}

.title-block h1 {
  display: table-cell;
  vertical-align: middle;
  font-size: 36px;
}

.footer-image {
  width: 100%;
  height: 300px;
  overflow: hidden;
  clear: both;
}

.footer-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
