body {
  font-family: Arial;
  padding: 20px;
}
label {
  display: block;
  margin-top: 10px;
}
input {
  padding: 5px;
  width: 250px;
}
.error {
  border: 2px solid red;
}
.success {
  border: 2px solid green;
}
button {
  margin-top: 20px;
  padding: 10px 20px;
  cursor: pointer;
}
